body {
    margin: 0;
    padding: 0;
    background: url(perpustakaan.jpg);
    font-family: sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* Container utama untuk halaman */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Styling untuk judul halaman */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Styling untuk tabel */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #4CAF50;
    color: white;
}


table tr {
    background-color: #f2f2f2;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Styling untuk link aksi */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
